:root {
    --bg-color: #011212;
    --ball-size: 100px;
    --ball-color: #ff8800;
}


body {
    background-color: var(--bg-color);
}

.ball {
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: var(--ball-color);
    border-radius: calc(var(--ball-size)/2);    
}
